@define-color	lavender-rgb  rgb(180, 190, 254);
@define-color	text-rgb  rgb(205, 214, 244);
@define-color	mauve-rgb  rgb(203, 166, 247);


* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.20em solid @lavender-rgb;
  border-radius: 0.9em;
  background-color: rgba(30, 30, 46, 0.7);
  animation: slideIn 0.2s ease-in-out both;
    backdrop-filter: blur(20px);
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: transparent;
  animation: fadeIn 0.2s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 8px;
   border: 0.1em solid @lavender-rgb;
  border-radius: 0.6em;
  color: @text;
  background-color: transparent;
  animation: fadeIn 0.2s ease-in-out both;
}

#input image {
    border: none;
    color: @lavender-rgb;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text-rgb;
  animation: fadeIn 0.2s ease-in-out both;
}

#entry {
  background-color: transparent;
}

#entry arrow {
  border: none;
  color: @lavender-rgb;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender-rgb;
}

#entry:selected #text {
  color: @mauve-rgb;
}
